<div class="mx-5 mt-5 mb-4 ">
    <div class="row">

        @for (feature of paginatedFeatures; track feature) {
        <div class="col-md-3 mb-3">
            <div class="card" [ngClass]="{
                'status-border-feature': feature.featureType === 2,
                'status-border-active': feature.featureType === 1 && feature.isEnabled === true,
                'status-border-inactive': feature.featureType === 1 && feature.isEnabled === false
              }">
                <div class="card-body">
                    <h4 class="card-title">{{ feature.featureName }}</h4>
                    <p class="card-text">{{ feature.featureType === 2 ? 'Feature Toggle' : 'Release Toggle' }}</p>

                    <!-- Feature Toggle Buttons -->

                    <div class="d-flex">
                    @if(feature.featureType === 2){
                    <button type="button" class="btn btn-primary" (click)="openDialog(featureStatusEnum.Enabled,feature.FeatureId)">Enable</button>

                        @if(isAdmin){
                            <button type="button" class="btn btn-primary ms-2" (click)="openDialog(featureStatusEnum.Disabled,feature.FeatureId)">Disable</button>
                        }

                        @if (!isAdmin) {
                            <div class="text-center">
                                <div class="badge bg-danger text-dark text-wrap w-100 ms-2 my-1">
                                    <p class="m-1">To disable contact Admin</p>
                                </div>
                            </div>
                        }
                    
                    }
                    </div>
                    


                    <!-- Release Toggle Button -->
                    @if(feature.featureType === 1){

                        @if(feature.isEnabled === false){
                        <button type="button" class="btn btn-success" (click)="feature.isEnabled = true; update_Toggle(feature.FeatureId,null,featureStatusEnum.Enabled)">
                            Enable
                        </button>

                        }

                        @if(feature.isEnabled === true  && isAdmin){
                            <button type="button" class="btn btn-danger" (click)="feature.isEnabled = false; update_Toggle(feature.FeatureId,null,featureStatusEnum.Disabled)">
                            Disable   
                        </button>

                        }

                        @if (feature.isEnabled === true && !isAdmin) {
                        <div class="text-center">
                            <div class="badge bg-danger text-dark text-wrap w-75 my-1">
                                <p class="m-1">To disable contact Admin</p>
                            </div>
                        </div>
                        }


                    }

                </div>
            </div>

        </div>
        }

    </div>

</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pb-2">
        <!-- Previous Button -->
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="#" (click)="previousPage();$event.preventDefault()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <!-- Page Numbers -->

        @for( page of [].constructor(totalPages());track i; let i = $index){
            
            <li class="page-item"
            [class.active]="currentPage === i + 1">
            <a class="page-link" href="#" (click)="goToPage(i + 1);$event.preventDefault()">{{ i + 1 }}</a>
            </li>

        }

        <!-- Next Button -->
        <li class="page-item" [class.disabled]="currentPage === totalPages()">
            <a class="page-link" href="#" (click)="nextPage();$event.preventDefault()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>