<!-- Recipe Cards -->
<div class="m-5">
    <!-- <div *ngIf="!loading"> -->
    <div class="row">
        <!-- <div *ngFor="let recipe of filteredRecipes" class="col-md-4 mb-3"> -->
        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Invoice Generation</h4>

                    <p class="card-text">Release Toggle</p>


                    <button type="button" class="btn btn-danger">Disable</button>

                </div>
            </div>
        </div>



        <div class="col-md-3 mb-3">
            <div class="card status-border-feature">
                <div class="card-body">
                    <h4 class="card-title">Tax Calculation</h4>

                    <p class="card-text">Feature Toggle</p>
                    <button type="button" class="btn btn-primary" (click)="openDrawer()">Enable</button>
                    <button type="button" class="btn btn-primary ms-2" (click)="closeDrawer()">Disable</button>


                </div>
            </div>
        </div>



        <div class="col-md-3 mb-3">
            <div class="card status-border-inactive">
                <div class="card-body">
                    <h4 class="card-title">Fraud Detection</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-success">Enable</button>


                </div>
            </div>
        </div>


        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Transaction History</h4>

                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-danger">Disable</button>


                </div>
            </div>
        </div>





        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Mobile Payment</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-danger">Disable</button>


                </div>
            </div>
        </div>





        <div class="col-md-3 mb-3">
            <div class="card status-border-inactive">
                <div class="card-body">
                    <h4 class="card-title">Currency Exchange</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-success">Enable</button>


                </div>
            </div>
        </div>





        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Invoice Generation</h4>

                    <p class="card-text">Release Toggle</p>


                    <button type="button" class="btn btn-danger">Disable</button>

                </div>
            </div>
        </div>



        <div class="col-md-3 mb-3">
            <div class="card status-border-feature">
                <div class="card-body">
                    <h4 class="card-title">Tax Calculation</h4>

                    <p class="card-text">Feature Toggle</p>
                    <button type="button" class="btn btn-primary">Enable</button>
                    <button type="button" class="btn btn-primary ms-2">Disable</button>


                </div>
            </div>
        </div>



        <div class="col-md-3 mb-3">
            <div class="card status-border-inactive">
                <div class="card-body">
                    <h4 class="card-title">Fraud Detection</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-success">Enable</button>


                </div>
            </div>
        </div>


        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Transaction History</h4>

                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-danger">Disable</button>


                </div>
            </div>
        </div>





        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Mobile Payment</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-danger">Disable</button>


                </div>
            </div>
        </div>





        <div class="col-md-3 mb-3">
            <div class="card status-border-inactive">
                <div class="card-body">
                    <h4 class="card-title">Currency Exchange</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-success">Enable</button>


                </div>
            </div>
        </div>






        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Invoice Generation</h4>

                    <p class="card-text">Release Toggle</p>


                    <button type="button" class="btn btn-danger">Disable</button>

                </div>
            </div>
        </div>



        <div class="col-md-3 mb-3">
            <div class="card status-border-feature">
                <div class="card-body">
                    <h4 class="card-title">Tax Calculation</h4>

                    <p class="card-text">Feature Toggle</p>
                    <button type="button" class="btn btn-primary">Enable</button>
                    <button type="button" class="btn btn-primary ms-2">Disable</button>


                </div>
            </div>
        </div>



        <div class="col-md-3 mb-3">
            <div class="card status-border-inactive">
                <div class="card-body">
                    <h4 class="card-title">Fraud Detection</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-success">Enable</button>


                </div>
            </div>
        </div>


        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Transaction History</h4>

                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-danger">Disable</button>


                </div>
            </div>
        </div>





        <div class="col-md-3 mb-3">
            <div class="card status-border-active">
                <div class="card-body">
                    <h4 class="card-title">Mobile Payment</h4>


                    <p class="card-text">Release Toggle</p>
                    <button type="button" class="btn btn-danger">Disable</button>


                </div>
            </div>
        </div>





        <div class="col-md-3 mb-3">
            <div class="card status-border-inactive">
                <div class="card-body">
                    <h4 class="card-title">Currency Exchange</h4>


                    <p class="card-text">Release Toggle</p> <!-- Cooking duration -->
                    <button type="button" class="btn btn-success">Enable</button>


                </div>
            </div>
        </div>













        <app-drawer></app-drawer>
        <!-- </div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('drawerToggle').addEventListener('click', function () {
            document.getElementById('drawer').classList.add('open');
            document.getElementById('drawerOverlay').classList.add('active');
        });

        document.getElementById('closeDrawer').addEventListener('click', function () {
            document.getElementById('drawer').classList.remove('open');
            document.getElementById('drawerOverlay').classList.remove('active');
        });

        document.getElementById('drawerOverlay').addEventListener('click', function () {
            document.getElementById('drawer').classList.remove('open');
            document.getElementById('drawerOverlay').classList.remove('active');
        });
    </script>