.status-border-active{
    border-top: 10px solid;
    border-color: rgb(35, 194, 33);
    
}

.status-border-inactive{
    border-top: 10px solid;
    border-color: rgb(225, 34, 34);
    
}

.status-border-disable{
    border-top: 10px solid;
    border-color: rgb(108, 106, 106);
}

.status-border-feature{
    border-top: 10px solid;
    border-color: rgb(255, 255, 255);
}








