<div class="container-fluid d-flex justify-content-center align-items-center text-light" style="background-color: rgb(180,184,255); 
height: 100vh;
background-image: linear-gradient(to bottom right, rgb(18, 18, 19),rgb(18, 179, 101));">
    <div class="container">
        <div class="row rounded-4 justify-content-center bg-image"
            style=" width: 80em; height: 45em; box-shadow: 10px 10px 5px rgb(60, 60, 61)">

            <div class="col-sm">


            </div>
            <div class="col-sm align-content-center text-center text-dark">

                <div class="container w-50 p-5 rounded-4" style="background-color: aliceblue;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>