<app-navbar></app-navbar>


    <div class="container-fluid d-flex justify-content-center">
        <div class="w-50 m-5">
            <form class="navbar-form navbar-left ">
                <!-- <input type="text" class="form-control col-lg-8" placeholder="Search" /> -->
                <div class="d-flex">
                    <input type="text" class="form-control" placeholder="Search" name="searchQuery" />

                    <button type="button" class="btn btn-primary ms-3"><i class="fa-solid fa-filter"></i></button>

                    <button type="submit" class="btn btn-primary ms-3 w-25">Search Feature</button>
                </div>
                <!-- <button type="submit" class="btn mt-3 btn-primary">Search Feature</button> -->
            </form>
        </div>
        <!-- <div>
            <h2 class="font-monospace fs-1">hello world</h2>
        </div> -->

    </div>

    <app-feature-card></app-feature-card>
