.center {
    margin: auto;
    width: 50%;
    padding: 70px;
    text-align: center;
  }

.btn-color-cus {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primary {
    background-color: rgb(5,9,73);
    border-color:rgb(5,9,73)
}

.dropdown-menu{
    min-width: 12rem;
}