{{isOpen}}
<div class="drawer-overlay" *ngIf="isOpen" (click)="drawerService.closeDrawer()"></div>

<!-- <div class="drawer open" id="drawer" [ngClass]="{ 'open': isOpen }"> -->
<div class="drawer open" id="drawer">
    <div class="drawer-header">
        <h5>Select Business</h5>
        <button class="close-btn" id="closeDrawer" (click)="drawerService.closeDrawer()">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>

    <div class="dropdown-section">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Select Business
            </button>
            <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="#">Business 1</a></li>
                <li><a class="dropdown-item" href="#">Business 2</a></li>
                <li><a class="dropdown-item" href="#">Business 3</a></li>
                <li><a class="dropdown-item" href="#">Business 4</a></li>
                <li><a class="dropdown-item" href="#">Business 5</a></li>
                <li><a class="dropdown-item" href="#">Business 6</a></li>
                <li><a class="dropdown-item" href="#">Business 7</a></li>
                <li><a class="dropdown-item" href="#">Business 8</a></li>
                <li><a class="dropdown-item" href="#">Business 9</a></li>
                <li><a class="dropdown-item" href="#">Business 10</a></li>
                <li><a class="dropdown-item" href="#">Business 11</a></li>
            </ul>
        </div>
    </div>
</div>